@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
    margin-top: 100px;


}

.photographer_section article {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
   
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
}

.link-to-photographer-page {

    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



a:-webkit-any-link {
    text-decoration: none;
}


.photographer_section article h2 {
    color: #D3573C;
    font-size: 30px;
    text-align: center;
    height: 20%;
   
    width: 100%;
    margin: 0;
   

 
}

.photographer_section article img {
   
    

    border-radius: 75px;
    object-fit:cover;
  
    
 
    position: absolute;
    z-index: -1;



}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-radius: 130px;


    height: 80%;
    width : 50%;
}

.info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20%;

    
}

.place-para {
    font-size: 18px;
    color: rgb(226, 105, 105);
}

.tagline-para {
    font-size:16px;
}

.price-para {
    font-size: 14px;
    color : rgba(0,0,0,0.6);

}

.info-div p {
    margin: 0;
}